@font-face {
  font-family: "Aeonik";
  src: url(/fonts/saxmono.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Pershot";
  src: url(/fonts/alcotton.woff2) format('woff2');
  font-display: swap;
}

:root {
  --black: #43423A;
  --black-alpha: #79fd7775;
  --white: white;
  --white-dark: #636255;
  --primary: #7AFD77;
  --grey: #989787;
  --grey-dark: #afafaf;
  --ease-in-out-cubic: cubic-bezier(.65, 0, .35, 1);
  --ease-out-quint: cubic-bezier(.22, 1, .36, 1);
  --ease-in-out-quint: cubic-bezier(.83, 0, .17, 1)
}

* {
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

*,
:after,
:before {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  box-sizing: border-box
}

html {
  background-color: var(--black);
  font-family: system-ui, sans-serif;
}

html,
html a {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .004)
}

body {
  font-feature-settings: "ss02" on, "ss03" on, "ss04" on, "ss07" on, "ss09" on, "ss10" on;
  background-color: var(--black);
  color: var(--white);
  font-family: Aeonik, sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none
}

body::-webkit-scrollbar {
  display: none
}

body.loading {
  opacity: 0
}

body.is-loaded {
  opacity: 1
}

body.is-archive {
  cursor: grab;
  pointer-events: auto
}

body.is-archive:active {
  cursor: grabbing
}

a {
  text-decoration: none;
  color: var(--white)
}

ul {
  list-style: none
}

button {
  background-color: transparent;
  border-width: 0;
  color: var(--black);
  cursor: pointer;
  font-family: Aeonik, sans-serif;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0
}

canvas {
  outline: none
}

img,
picture,
video {
  -webkit-user-drag: none;
  height: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%
}

path {
  vector-effect: non-scaling-stroke
}

::-moz-selection {
  background: var(--white);
  color: var(--black)
}

::selection {
  background: var(--white);
  color: var(--black)
}

@media (prefers-reduced-motion:reduce) {
  * {
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: .01ms !important
  }
}

main {
  height: 100vh;
  line-height: 1.6;
}

main::-webkit-scrollbar {
  display: none
}

.h1 {
  font-size: 3.0555555556vw;
  line-height: 1.3
}

@media screen and (max-width:1047px) {
  .h1 {
    font-size: 7vw !important
  }
}

@media screen and (min-width:1440px) {
  .h1 {
    font-size: 6rem;
  }
  h2.project-headline.h1 {
    font-size: 4rem
  }
}

.h2 {
  font-size: 1.1111111111vw
}

@media screen and (max-width:1260px) {
  .h2 {
    font-size: 14px
  }
}

.h3 {
  font-size: 3.0555555556vw
}

@media screen and (max-width:1047px) {
  .h3 {
    font-size: 32px
  }

  .line, .outer-line {
    display: inline;
    white-space: wrap
  }

  .outer-line {
    overflow: hidden
  }
}

@media screen and (min-width:1440px) {
  .h3 {
    font-size: 44px
  }
}

.text {
  font-size: 1.1111111111vw;
  line-height: 1.6;
}

@media screen and (max-width:1260px) {
  .text {
    font-size: 14px
  }
}

@media screen and (min-width:1440px) {
  .text, .home-sub-headline.split {
    font-size: 16px
  }
}

.home-headline {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #7AFD77;
}

h1 {
  color: #636255;
  font-family: Pershot;
  margin-bottom: 0.5em;
}

.line {
  transform: translateY(108%);
  transition: transform 1.2s var(--ease-out-quint);
  transition-delay: calc(var(--index)*.06s)
}

body.is-loaded .home-content .line {
  transform: translateY(0)
}

[data-project] .line {
  transition-delay: calc(var(--index)*.07s + .8s)
}

[data-selected=true] .text-wrapper .line {
  transform: translateY(0)
}
